:root {
  --font-family-main: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-line-m: 24px;
  --font-line-l: 32px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --transition-opacity: var(--transition-time) opacity ease;
  --transition-time: 0.2s;
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}