.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--sidebar-color);
  position: relative;

  transition: width var(--transition-time);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.switcherCollapsed {
  flex-direction: column-reverse;
  align-items: center;
}

.sidebarDivider {
  width: 1px;
  height: 50px;

  background-color: var(--inverted-primary-color);
}

.sidebarDividerCollapsed {
  height: 1px;
  width: 50px;
}