.app.dark {
  --bg-color: #0a0d2b;
  --inverted-bg-color: #0018ff;

  --primary-color: #06c806;
  --secondary-color: #0cff4c;
  --inverted-primary-color: #c5c5c5;
  --inverted-secondary-color: #7ffda1;

  --sidebar-color: #86646437;
}