.app.light {
  --bg-color: #f5f7ff;
  --inverted-bg-color: #464646;

  --primary-color: #05a805;
  --secondary-color: #00d942;
  --inverted-primary-color: #c5c5c5;
  --inverted-secondary-color: #7ffda1;

  --sidebar-color: #FFBCBC37;

}