.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--inverted-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}